.Neispravno{
    -fx-background-color: lightpink;
}
.Ispravno{
    -fx-background-color: white;
}
#signIn{
    -fx-background-color: #798cb0;
}

#signIn:hover{
    -fx-background-color: #405d79;
}
#signIn:pressed{
    -fx-background-color: #1c2941;
}
#signUp{
    -fx-background-color: #1c2941;
}

#signUp:hover{
    -fx-background-color: #121f31;
}
#signUp:pressed{
    -fx-background-color: #0a131c;
}
