.Neispravno{
    -fx-background-color: lightpink;
}

.Ispravno{
    -fx-background-color: white;
}
#signUpBtn{
    -fx-background-color: #eaeaea;
}

#signUpBtn:hover{
    -fx-background-color: #a6a3a3;
}
#signUpBtn:pressed{
    -fx-background-color: #868585;
}
#back:hover{
    -fx-background-color: #a6a3a3;
}
#back:pressed{
    -fx-background-color: #868585;
}
